
@{
    ViewBag.Title = "Activation";
}

    <div class="container text-center">
        <h2>@ViewBag.Activation</h2>       
        <p>Click here to @Html.ActionLink("LogIn", "Login", "User")</p>
    </div>

